.header {
  background-color: var(--c-accent);
  display: grid;
  grid-template-rows: clamp(var(--fs-text-large), 0.7212rem + 0.7692vw,  var(--fs-text-large)) auto;
  grid-template-columns: clamp(17.75rem, -1.9821rem + 92.8571vw, 50.25rem);
  grid-template-areas: 'navigation' 'logo';
  grid-gap: 1rem 0;
  justify-items: end;
  min-height: clamp(12.5rem, 5.6034rem + 34.4828vw, 25rem);
  padding: clamp(var(--m), 0.0905rem + 5.1724vw, var(--xxl));

  @media screen and (min-width: 56.25rem) {
    grid-template-columns: auto 804px auto;
    grid-template-areas: '. navigation .' '. logo .';
  }

    &__link {
      grid-area: logo;
      align-self: end;
      text-decoration: none;
      margin: 0;
    }

    &__logo {
      font-family: var(--ff-logo);
      font-size: clamp(4.5rem, 3.1667rem + 5.9259vw, 6.5rem);
      line-height: clamp(4.5rem, 3.1667rem + 5.9259vw, 6.5rem);
      color: var(--c-black);
      text-shadow: 4px 4px 8px var(--c-black-alpha);
      margin: 0;
    }
}

.nav {
  grid-area: navigation;

  &__link {
    font-size: clamp(var(--fs-text-small), 0.7212rem + 0.7692vw,  var(--fs-text-large));
    line-height: clamp(var(--fs-text-small), 0.7212rem + 0.7692vw,  var(--fs-text-large));
    text-decoration: none;

    &:hover {
      text-decoration: underline 3px var(--c-black);
    }
  }

  &__text {
    color: var(--c-black);
    font-size: clamp(var(--fs-text-normal), 0.7212rem + 0.7692vw,  var(--fs-text-large));
    margin: 0;
  }
}

